<script src="/views/view2.js"></script>

<div id="posts" ng-controller="postController">

	<div class="container jumbotron">
            <div class="row">
                <div class="col-md-1 text-center">
                    <button type="button" class="btn btn-default" ng-click="voteUp(entry.id)" ng-show="loggedIn">
                        <span class="glyphicon glyphicon-chevron-up" ></span>
                    </button>
                    <br/>
                    {{entry.rating.value}}<br/>
                    <button type="button" class="btn btn-default" ng-click="voteDown(entry.id)" ng-show="loggedIn">
                        <span class="glyphicon glyphicon-chevron-down" ></span>
                    </button>
                </div>
                <div class="col-md-7">
                    <a href="{{entry.url}}"><h2>{{entry.title}}</h2></a>
                    submitted {{entry.createTimeDisplay}} by {{entry.author}}
                    <br/>
                    <a href="#/post/{{entry.id}}">{{entry.comments.length}} comments</a>
                </div>
            </div>
        </div>

        <div id="comments" ng-repeat="comment in entry.comments">
        	<div class="container">
        		<div class="row">
	                <div class="col-md-1 text-center">
	                    <button type="button" class="btn btn-sm" ng-click="commentVoteUp(comment.id)" ng-show="loggedIn">
	                        <span class="glyphicon glyphicon-chevron-up" ></span>
	                    </button>
	                    <br/>
	                    {{comment.rating.value}}<br/>
	                    <button type="button" class="btn btn-sm" ng-click="commentVoteDown(comment.id)" ng-show="loggedIn">
	                        <span class="glyphicon glyphicon-chevron-down" ></span>
	                    </button>
	                </div>
	                <div class="col-md-7">
	                    <b>{{comment.author}}</b> {{comment.createTimeDisplay}}
	                    <br/>
	                    <i>{{comment.text}}</i>
	                </div>
            	</div>
    		</div>
        </div>
</div>