<!DOCTYPE html>
<html ng-app="RedditApp" ng-controller="MenuCtrl">
<head>

    <title>InTeTestat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="client.css" rel="stylesheet">
    <link href="Libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen">

    <script src="Libs/doT/doT.js"></script>
    <script src="Libs/jquery-2.0.3.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="Libs/angular/angular.js"></script>
    <script src="Libs/angular-route/angular-route.js"></script>
    <script src="ohsnap.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/MenuCtrl.js"></script>
    <script src="js/controllers/dataController.js"></script>
    <script src="js/controllers/postController.js"></script>
    

    <script src="core.js"></script>
    <script src="dataService.js"></script>
    <script src="init.js"></script>


</head>
<body>

<!-- Menu -->

<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Header -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#/links">Reddit Clone</a>
            </div>
            <!-- Submit New Link -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="" ng-click="visible=!visible" ng-show="loggedIn">Submit New Link</a></li>
                </ul>
                <!-- Forms to login-->
                <div class="navbar-form navbar-right" ng-show="!loggedIn">
                    <div class="form-group">
                        <input ng-model="username" type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input ng-model="password" type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button ng-click="login()" class="btn btn-default">Login</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default">Register</button>
                    </div>
                </div>
                <div class="navbar-right" ng-show="loggedIn">
                    Welcome {{username}}
                    <button ng-click="logout()" class="btn btn-default">Logout</button>
                </div>

            </div>
        </div>
    </nav>

    <!-- Oh Snap Notifications -->
    <div id="ohsnap"></div>

    <!-- Submit new link -->
    <div class="panel panel-default" ng-show="visible && loggedIn">
        <div class="panel-heading">
            <h3 class="panel-title">Submit new link</h3>
        </div>
        <div class="panel-body">
            <!-- Submit new Link Content -->


             <div class="media">
              <div class="media-left media-middle">
                <h3>Sumit a new Link</h3>
                <h4>The community is waiting for it!</h4>
              </div>
              <div class="media-body media-middle">
                <!-- Content -->
                <div class="form-group row">
                <div class="col-md-5">
                    <input ng-model="title" type="text" class="form-control" placeholder="Title">
                </div>
                <div class="col-md-5">
                    <input ng-model="url" type="text" class="form-control" placeholder="URL">
                </div>
                <div class="col-md-1">
                    <button ng-click="submitNewLink()" class="btn btn-primary">Submit new link</button>
                </div>
                
            </div>
              </div>
            </div>
        </div>
    </div>
</div>




<!-- Reddit Entries -->

<div ng-view></div>


<script src="ui.js"></script>



</body>

</html>
